<!DOCTYPE html>
<html>
<head>
    <title>pyWebRedis</title>

    <link rel="stylesheet" type="text/css" href="/templates/css/style.css">

    <script type="text/javascript" src="/templates/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/worker.js"></script>
</head>

<body>
    <div id="top_panel">
        <h1>pyWebRedis</h1>

        <div id="user_info">
            <p>JOHN DOE</p>
        </div>

        <p class="server_info">DUMMY-server</p>
    </div>

    <div id="terminal">
        <div class="past">
            <p>></p>
        </div>
        <br>
        <div class="cmd">
            <p>></p>
            <input type="text" name="command_text">
            <input type="submit" value="Enter" id="submit_button">
        </div>
    </div>
</body>
</html>
