<!DOCTYPE html>
<html>
<head>
    <title>pyWebRedis</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="top_panel">
        <h1>pyWebRedis</h1>
        <p class="server_info">DUMMY-server</p>
        <div id="user_info">
            <p>JOHN DOE</p>
        </div>
    </div>

    <div id="terminal">
        This will contain the terminal.
        <br>
        There will be the input for entering the command, and the button for sending the command.
        The signal for that will be also possible to trigger via an Enter key.
    </div>
</body>
</html>
